Alder.pdf
AndelGenVerifisert.pdf
AndelGenVerifisertSpes.pdf
AndelGenVerifisertSpesBergen.pdf
AndelGenVerifisertSpesOUS.pdf
AndelGenVerifisertSpesUNN.pdf
AndelGenVerifisertSpesUndergr.pdf
AntReg.pdf
Arbeid_DM1.pdf
Arbeid_DM1_18.pdf
Arbeid_DM1_35-55.pdf
Arbeid_LGMD.pdf
Arbeid_LGMD_18.pdf
Arbeid_LGMD_35-55.pdf
Arvegang.pdf
CMT.pdf
DiagBiopsi.pdf
DiagDNA.pdf
DiagICD10.pdf
Diagnosegr.pdf
Diagnoser_atrofier.pdf
Diagnoser_muskel.pdf
Diagnoser_nevropatier.pdf
Ergoterapi.pdf
FysioManglerAarsak.pdf
Fysioterapi.pdf
Gangfunksjon.pdf
Gangfunksjonstabel.pdf
HjerteAff_DM1.pdf
HjerteAff_DM2.pdf
HjerteAff_LGMD2I.pdf
KonkrUndGrDuchBeck.pdf
LGMD.pdf
MuskelSamleDok-concordance.tex
MuskelSamleDok.lof
MuskelSamleDok.log
MuskelSamleDok.lot
MuskelSamleDok.pdf
MuskelSamleDok.synctex.gz
MuskelSamleDok.tex
MuskelSamleDok.toc
Muskeldystrofier.pdf
SMA.pdf
Sivilstatus.pdf
Sivilstatus_18.pdf
Sivilstatus_25.pdf
Sivilstatus_35-55.pdf
TidDebDiag.pdf
TidDebUtred.pdf
TidUtredDiag.pdf
TidUtredDiagHUS.pdf
TidUtredDiagOUS.pdf
TidUtredDiagUNN.pdf
Utdanning.pdf
UtdanningDM1.pdf
UtdanningDM1_18.pdf
UtdanningDM1_25.pdf
UtdanningDM1_35-55.pdf
UtdanningLGMD.pdf
UtdanningLGMD_18.pdf
UtdanningLGMD_25.pdf
UtdanningLGMD_35-55.pdf
tallTilAarsrapport2015-concordance.tex
tallTilAarsrapport2015.lof
tallTilAarsrapport2015.log
tallTilAarsrapport2015.lot
tallTilAarsrapport2015.pdf
tallTilAarsrapport2015.synctex.gz
tallTilAarsrapport2015.tex
tallTilAarsrapport2015.toc
Aar.png
Alder.png
AntReg.png
aarsrapport2016muskel.Rmd
aarsrapport2016muskel.html
tallTilAarsrapport2016-concordance.tex
tallTilAarsrapport2016.lof
tallTilAarsrapport2016.log
tallTilAarsrapport2016.lot
tallTilAarsrapport2016.pdf
tallTilAarsrapport2016.synctex.gz
tallTilAarsrapport2016.tex
AndelSteroider.pdf
Arbeid_CMT.pdf
HjerteAff_samlet.pdf
Hjerteoppf_samlet.pdf
HoyesteUtdanning.pdf
PeriodiskeParalyser.pdf
SMA_periodiskepar.pdf
SMAfom18.pdf
SMAtom17.pdf
Smertestillende_MD_CMT_SMA.pdf
TypeHjerteaffeksjon.pdf
TypeHjerteaffeksjonSamletDM1_LGMD2I.pdf
figure
fysio.pdf
fysio_nord.pdf
fysio_sor.pdf
tallTilPeriodiskParalysekurs-concordance.tex
tallTilPeriodiskParalysekurs.lof
tallTilPeriodiskParalysekurs.log
tallTilPeriodiskParalysekurs.lot
tallTilPeriodiskParalysekurs.pdf
tallTilPeriodiskParalysekurs.synctex.gz
tallTilPeriodiskParalysekurs.tex
AndelGenVerifisert_subgr.pdf
Kostveiledning_subgr.pdf
PsykiskHelsetjeneste_subgr.pdf
SMAover18.pdf
SMAunder18.pdf
StatistikkArtikkelMuskelnytt2018-concordance.tex
StatistikkArtikkelMuskelnytt2018.lof
StatistikkArtikkelMuskelnytt2018.log
StatistikkArtikkelMuskelnytt2018.lot
StatistikkArtikkelMuskelnytt2018.pdf
StatistikkArtikkelMuskelnytt2018.synctex.gz
StatistikkArtikkelMuskelnytt2018.tex
aldrkjonn.pdf
ant_reg.pdf
reg_pr_rhf.pdf
framed.sty
tallTilAarsrapport2017-concordance.tex
tallTilAarsrapport2017.lof
tallTilAarsrapport2017.log
tallTilAarsrapport2017.lot
tallTilAarsrapport2017.pdf
tallTilAarsrapport2017.synctex.gz
tallTilAarsrapport2017.tex
AlderDagens.pdf
AlderDagensUnge.pdf
AndelGenVerifisert_CMT.pdf
AndelGenVerifisert_LGMD.pdf
AndelGenVerifisert_muskel.pdf
AnsvarsgruppeIP.pdf
AntReg.csv
Arbeid.pdf
BPA.pdf
HjerteAff_myopati.pdf
HjerteAff_samlet_2.pdf
HyppighetEKG.pdf
HyppighetEKG_BMD.pdf
HyppighetEKG_DM1.pdf
HyppighetEKG_DMD_10plus.pdf
HyppighetEKG_DMD_6-10.pdf
HyppighetEKG_Holter_DM1.pdf
HyppighetUltralyd_BMD.pdf
HyppighetUltralyd_DMD_10plus.pdf
HyppighetUltralyd_DMD_6-10.pdf
OppfolgBarnelegeNevrolog.pdf
OppfolgPst.csv
RespStotte.pdf
TidUtredDiag_1995_2000.pdf
TidUtredDiag_2005_2010.pdf
TidUtredDiag_2012_2017.pdf
TilbudGenetiskVeiledning.pdf
TilbudGenetiskVeiledning_DM1.pdf
TilbudGenetiskVeiledning_Duchenne.pdf
TilbudGenetiskVeiledning_gruppert.pdf
TilbudKostveiledning.pdf
TypeMedikBehandling.pdf
Uforetrygd.pdf
dekn_grad.csv
kompletthet.csv
muskelfig.zip
